.nav {
  width: 75%;
  margin: auto;
}
.navtop {
  font-weight: 700;
  font-size: 13px;
  color: rgb(33, 51, 67);
  padding: 15px;
}
.bnavLeft {
  font-weight: 600;
  font-size: 18px;
  color: rgb(33, 51, 67);
  width: 100%;
}
.cardhead {
  font-size: 18px;
  font-weight: 600;
}
.tbox {
  color: rgb(33, 51, 67);
  margin-bottom: 2px;
  font-size: 15px;
}
